@import "./Utils/variables";
@import "./Utils/functions";
@import "./Utils/mixins";
@import "./Utils/extensions";
@import "./Utils/keyframes";
@import "./Base/base";
@import "./Base/typography";
@import "./Composants/buttons";
@import "./Layout/home";
@import "./Layout/form";
@import "./Layout/header";
@import "./Layout/nav";
@import "./Layout/container";
@import "./Pages/work";
@import "./Pages/about";
@import "./Pages/project";

.progress {
  border: 0.5vw solid black;
  padding: 1vw;
  @include tablet {
    padding: 0.5vw;
    border: 0.25vw solid black;
  }
  @include desktop {
    padding: 0.25vw;
    border: 0.125vw solid black;
  }
  position: fixed;
  top: 50%;
  animation: progress 0.5s forwards;
  animation-delay: 2.5s;
  &__bar {
    transform-origin: left;
    transform: scaleX(0.5);
    animation: progress-bar $prog-bar-dur $prog-bar-delay both;
    background: $color-tertiary;
    width: 50vw;
    height: 2vw;
    @include tablet {
      width: 25vw;
      height: 1vw;
    }
    @include desktop {
      width: 12.5vw;
      height: 0.5vw;
    }
  }
}
h1 {
  font-size: $h1;
  margin: 0;
  @include tablet {
    font-size: $h1-tablet;
  }
  @include desktop {
    font-size: $h1-desktop;
  }
}
h2 {
  font-size: $h2;
  margin: 0;
  @include tablet {
    font-size: $h2-tablet;
    text-align: center;
  }
  @include desktop {
    font-size: $h2-desktop;
  }
}
h3 {
  font-size: $h3;
  margin: 0;
  font-weight: 300;
  @include tablet {
    font-size: $h3-tablet;
  }
  @include desktop {
    font-size: $h3-desktop;
  }
}
h4 {
  font-size: $h4;
  margin: 0;
  @include tablet {
    font-size: $h4-tablet;
  }
  @include desktop {
    font-size: $h4-desktop;
  }
}
h5 {
  font-size: $h5;
  margin: 0;
  @include tablet {
    font-size: $h5-tablet;
  }
  @include desktop {
    font-size: $h5-desktop;
  }
}
h6 {
  margin: 0;
  font-size: $h6;
  font-weight: 300;
  @include tablet {
    font-size: $h6-tablet;
  }
  @include desktop {
    font-size: $h6-desktop;
  }
}
p {
  font-size: $p;
  margin: 0;
  @include tablet {
    font-size: $p-tablet;
  }
  @include desktop {
    font-size: $p-desktop;
  }
}
.img-menu {
  width: 100%;
  @include tablet {
    width: 100vw;
  }
  @include desktop {
    height: 100vw;
  }
}

.banner {
  &__title {
    width: 67vw;
    margin-bottom: 5vw;
    @include tablet {
      margin-bottom: 3vw;
    }
    @include desktop {
      margin-bottom: 1.5vw;
    }
  }
}

.fonctionnement {
  &__title {
    margin: 0 38vw 8vw 0;
    @include tablet {
      margin: 1vw;
      width: 100%;
    }
    @include desktop {
      margin: 0.5vw;
    }
  }
  &__logo {
    color: lighten($color: black, $amount: 40);
    font-size: 5vw;
    margin: 0 5vw 0 2vw;
    @include tablet {
      font-size: 3vw;
      margin: 0 2.5vw 0 1vw;
    }
    @include desktop {
      font-size: 1.5vw;
      margin: 0 1.25vw 0 0.5vw;
    }
  }
}

.restaurant {
  &__title {
    margin: 0 38vw 8vw 0;
    @include tablet {
      margin: 3vw;
      width: 100%;
    }
    @include desktop {
      margin: 1.5vw;
    }
  }
  &__card {
    height: 67vw;
    border-radius: 6vw;
    margin-bottom: 6vw;
    background: white;
    box-shadow: 0 0.6vw 5vw 0.2vw #e0dede;
    position: relative;
    @include tablet {
      height: 35.5vw;
      width: 43vw;
      box-shadow: 0 0.3vw 2.5vw 0.1vw #e0dede;
      border-radius: 3vw;
      margin-bottom: 3vw;
    }
    @include desktop {
      height: 17.75vw;
      width: 21.5vw;
      box-shadow: 0 0.15vw 1.25vw 0.05vw #e0dede;
      border-radius: 1.5vw;
      margin-bottom: 1.5vw;
    }
  }
  img {
    width: 100%;
    height: 47vw;
    border-radius: 6vw 6vw 0 0;
    @include tablet {
      height: 23.5vw;
      border-radius: 3vw 3vw 0 0;
    }
    @include desktop {
      height: 11.75vw;
      border-radius: 1.5vw 1.5vw 0 0;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin: 3vw 0 0 3vw;
    @include tablet {
      margin: 1.5vw 0 0 1.5vw;
    }
    @include desktop {
      margin: 0.75vw 0 0 0.75vw;
    }
  }
  &__heart {
    @include heart;
    @include tablet {
      font-size: 3.5vw;
      right: 4vw;
      bottom: 4vw;
    }
    @include desktop {
      font-size: 1.75vw;
      right: 2vw;
      bottom: 2vw;
    }
    &--no {
      z-index: 1;
      transform: scale(1);
      &:hover {
        opacity: 0;
      }
      &:hover + .restaurant__heart--yes {
        opacity: 1;
        transform: scale(1.2);
      }
    }
    &--yes {
      opacity: 0;
      color: transparent;
      background: linear-gradient(357deg, $color-primary, $color-secondary);
      -webkit-background-clip: text;
    }
  }
}

.menu {
  &__title {
    display: flex;
    font-family: "Shrikhand";
    margin-left: 4.5vw;
    padding-top: 8vw;
    width: 95vw;
    font-weight: 500;
    margin-bottom: 5vw;
    @include tablet {
      margin-left: 5vw;
      padding-top: 4vw;
      width: 47.5vw;
      margin-bottom: 2.5vw;
    }
    @include desktop {
      padding-top: 2vw;
      width: 23.75vw;
      margin-bottom: 1.25vw;
      margin-left: 8vw;
    }
  }
  &__bottomgreen {
    width: 12vw;
    border-bottom: 1vw solid $color-tertiary;
    margin-bottom: 3vw;
    @include tablet {
      width: 6vw;
      margin-bottom: 1.5vw;
      border-bottom: 0.5vw solid $color-tertiary;
    }
    @include desktop {
      width: 3vw;
      margin-bottom: 0.75vw;
      border-bottom: 0.25vw solid $color-tertiary;
    }
  }
  &__card {
    width: 95vw;
    @include tablet {
      margin-bottom: 3vw;
      width: 66vw;
      margin-left: auto;
      margin-right: auto;
    }
    @include desktop {
      margin-bottom: 1.5vw;
      width: 50vw;
    }
  }
  &__text {
    margin-left: 3vw;
    @include tablet {
      margin-left: 1.5vw;
    }
    @include desktop {
      margin-left: 0.75vw;
    }
    flex: 1;
    @include ellipsis;
  }
  h5 {
    @include ellipsis;
  }
  h6 {
    @include ellipsis;
  }
  &__heart {
    @include heart;
    right: 11vw;
    top: 9vw;
    bottom: 0;
    @include tablet {
      font-size: 3.5vw;
      top: 4.5vw;
      right: 14vw;
    }
    @include desktop {
      font-size: 2.5vw;
      top: 2.25vw;
      right: 8vw;
    }
    &--no {
      z-index: 1;
      &:hover {
        opacity: 0;
      }
      &:hover + .menu__heart--yes {
        opacity: 1;
      }
    }
    &--yes {
      opacity: 0;
      color: transparent;
      background: linear-gradient(357deg, $color-primary, $color-secondary);
      -webkit-background-clip: text;
    }
  }
}

footer {
  .title {
    font-family: "Shrikhand";
    margin: 5vw;
    @include tablet {
      margin: 2.5vw;
    }
    @include desktop {
      margin: 1.25vw;
    }
    h3 {
      @include desktop {
        font-size: 2vw;
      }
    }
  }
  h4 {
    font-weight: 300;
    margin-bottom: 2vw;
    @include tablet {
      margin-bottom: 1vw;
    }
    @include desktop {
      margin-bottom: 0.5vw;
    }
  }
}
