@import "./Utils/variables.scss";
@import "./Layout/form.scss";
@import "./Utils/functions.scss";
@import "./Utils/mixins.scss";
@import "./Utils/extensions.scss";
@import "./Base/base.scss";
@import "./Base/typography.scss";
@import "./Composants/buttons.scss";
@import "./Layout/header.scss";
@import "./Layout/nav.scss";
@import "./Layout/container.scss";
@import "./Pages/work.scss";
@import "./Pages/about.scss";
@import "./Pages/project.scss";
@import "./Utils/keyframes.scss";

body {
  margin: 0;
}

main {
  font-family: "Roboto";
}
.fas {
  color: lighten($color: black, $amount: 30);
  margin: 0vw 5vw 1vw 0;
}
img {
  width: 90vw;
}
.lieu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darken($color: white, $amount: 5);

  &__localisation {
    width: 100%;
    font-size: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vw;
    background: darken($color: white, $amount: 10);
    box-shadow: inset 0vw 3vw 1vw -2vw rgb(209, 209, 209);
  }

  &__présentation {
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vw 0 16vw 0;
    p {
      font-size: 4.7vw;
      text-align: center;
    }
  }
}
h1 {
  margin: 0;
  text-align: center;
  font-size: $h1;
}
