@import "./Utils/variables";
@import "./Layout/form";
@import "./Utils/functions";
@import "./Utils/mixins";
@import "./Utils/extensions";
@import "./Base/base";
@import "./Base/typography";
@import "./Composants/buttons";
@import "./Layout/header";
@import "./Layout/nav";
@import "./Layout/container";
@import "./Pages/work";
@import "./Pages/about";
@import "./Pages/project";
@import "./Utils/keyframes";
@import "./Layout/home";

img {
  width: 90vw;
}
h2 {
  font-size: $h2;
  width: 90vw;
}
.fonctionnement {
  @include centercolumnbyflex;
  margin-bottom: 12vw; 
}

.restaurant {
  background: darken($color: white, $amount: 5);
  padding: 4.5vw;
  &__card {
    height: 67vw;
    border-radius: 6vw;
    margin-bottom: 6vw;
    background-color: white;
    box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
    position: relative;
  }
  .nouveau {
    @include btnnouveau;
  }
  img {
    width: 100%;
    height: 47vw;
    border-radius: 6vw 6vw 0 0;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
  }
  h3 {
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    font-size: $h3;
  }
  p {
    margin-top: 0.5vw;
    margin-bottom: 0;
    font-size: 3vw;
  }
}
footer {
  color: white;
  background: rgb(53, 53, 53);
  height: 52vw;
  display: flex;
  flex-direction: column;
  .logo {
    font-family: "Shrikhand";
    margin: 5vw;
    font-size: $h3;
  }
  p {
    margin: 0 0 2vw 0;
    font-size: 3vw;
    cursor: pointer;
  }
  .nav {
    margin-left: 5vw;
    &__logo {
      font-size: 4vw;
      margin-right: 2vw;
    }
  }
}
.banner {
  @include centercolumnbyflex;
  background: darken($color: white, $amount: 5);
  padding: 10vw 0 16vw 0;
  text-align: center;
  font-size: $h1;
  &__title {
    margin: 0;
    width: 67vw;
  }
}
