body {
  @include columnbyflex;
}

.container {
  overflow: hidden;
  margin-top: -5vw;
  z-index: 1;
  animation: container 0ms $container-delay both;
  margin-bottom: 5vw;
}

.banner {
  @include columnbyflex;
  padding: 10vw 0 16vw 0;
  text-align: center;
  background: darken($color: white, $amount: 5);
}

.fonctionnement {
  @include columnbyflex;
  align-items: flex-end;
  padding: 10vw 5vw 12vw 5vw;
}

.restaurant {
  background: darken($color: white, $amount: 5);
  padding: 10vw 5vw 12vw 5vw;
}

.menu {
  @include columnbyflex;
  background: darken($color: white, $amount: 5);
  border-radius: 12vw 12vw 0 0;
  margin-top: -13vw;
  position: relative;
}

footer {
  @include columnbyflex;
  align-items: flex-start;
  color: white;
  background: lighten($color: black, $amount: 20);
  height: 52vw;
  width: 100%;
}
