.menu {
  @include centercolumnbyflex;
  background: darken($color: white, $amount: 5);
  border-radius: 12vw 12vw 0 0;
  margin-top: -13vw;
  position: relative;
  &__container {
    width: 95vw;
  }
  &__title {
    display: flex;
    font-family: "Shrikhand";
    margin-left: 4.5vw;
    padding-top: 8vw;
    font-size: 7.5vw;
    width: 95vw;
    font-weight: 500;
    margin-bottom: 5vw;
  }
  h2 {
    font-weight: 400;
    margin-bottom: 1vw;
    font-size: 4vw;
  }
  h3 {
    @include ellipsis;
  }
  p {
    @include ellipsis;
    font-size: 4.4vw;
  }
  &__bottomgreen {
    width: 12vw;
    border-bottom: 1vw solid $color-tertiary;
    margin-bottom: 3vw;
  }
  &__text {
    margin-left: 3vw;
    flex: 1;
    @include ellipsis;
  }
  &__heart {
    @include heart;
    right: 11vw;
    top: 9vw;
    &--no {
      z-index: 1;
      &:hover {
        opacity: 0;
      }
      &:hover + .menu__heart--yes {
        opacity: 1;
      }
    }
    &--yes {
      opacity: 0;
      color: transparent;
      background: linear-gradient(357deg, $color-primary, $color-secondary);
      -webkit-background-clip: text;
    }
  }
}
