footer {
  @include columnbyflex;
  align-items: flex-start;
  color: white;
  background: lighten($color: black, $amount: 20);
  height: 52vw;
  width: 100%;
  @include tablet {
    height: 32vw;
  }
  @include desktop {
    height: 16vw;
    align-items: center;
  }
  .nav {
    margin-left: 5vw;
    @include tablet {
      margin-left: 2.5vw;
    }
    @include desktop {
      margin-left: 1.25vw;
    }
    &__logo {
      font-size: 4.3vw;
      margin-right: 2vw;
      @include tablet {
        font-size: 2.15vw;
        margin-right: 1vw;
      }
      @include desktop {
        font-size: 1.075vw;
        margin-right: 0.5vw;
      }
      &--2 {
        font-size: 2.8vw;
        @include tablet {
          font-size: 1.4vw;
        }
        @include desktop {
          font-size: 0.7vw;
        }
      }
    }
  }
  .title {
    font-family: "Shrikhand";
    margin: 5vw;
    @include tablet {
      margin: 2.5vw;
    }
    @include desktop {
      margin: 1.25vw;
    }
    h3 {
      @include desktop {
        font-size: 2vw;
      }
    }
  }
  h4 {
    font-weight: 300;
    margin-bottom: 2vw;
    @include tablet {
      margin-bottom: 1vw;
    }
    @include desktop {
      margin-bottom: 0.5vw;
    }
  }
}
