.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vw;
  @include tablet {
    height: 8.5vw;
  }
  &__title {
    font-family: "Shrikhand";
  }
  &__arrow {
    font-size: 4.7vw;
    position: absolute;
    left: 6vw;
    top: 6vw;
    color: lighten($color: black, $amount: 20);
    @include tablet {
      font-size: 2.35vw;
      left: 3vw;
      top: 3vw;
    }
  }
}
