header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vw;

  .logo {
    font-family: "Shrikhand";
    font-size: $header-logo;
    @include tablet {
      font-size: $header-logo-tablet;
    }
    @include laptop {
      font-size: $header-logo-laptop;
    }
  }
  .arrow__logo {
    font-size: $h3;
    position: absolute;
    left: 6vw;
    top: 6vw;
    color: lighten($color: black, $amount: 20);
    @include tablet {
      font-size: $h3-tablet;
    }
    @include laptop {
      font-size: $h3-laptop;
    }
  }
}
