header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vw;
  @include tablet {
    height: 12.75vw;
  }
  @include desktop {
    height: 8.5vw;
  }

  .logo {
    font-family: "Shrikhand";
    font-size: $header-logo;
    @include tablet {
      font-size: $header-logo-tablet;
    }
    @include desktop {
      font-size: $header-logo-desktop;
    }
  }
  .arrow__logo {
    font-size: $h3;
    position: absolute;
    left: 6vw;
    top: 6vw;
    color: lighten($color: black, $amount: 20);
    @include tablet {
      font-size: $h3-tablet;
    }
    @include desktop {
      font-size: $h3-desktop;
    }
  }
}
