.home {
  @include centercolumnbyflex;
  background: darken($color: white, $amount: 10);
  box-shadow: inset 0vw 3vw 1vw -2vw rgb(209, 209, 209);
  height: 13vw;
  &__location {
    @include centercolumnbyflex;
    flex-direction: row;
    h2 {
      font-size: 4.3vw;
      width: 36vw;
    }
  }
  &__logo {
    color: lighten($color: black, $amount: 40);
    margin: 0vw 5vw 1vw 0;
    font-size: 4.3vw;
  }
}