.lieu {
  @include centercolumnbyflex;
  background: darken($color: white, $amount: 10);
    box-shadow: inset 0vw 3vw 1vw -2vw rgb(209, 209, 209);
    width: 100%;
    font-size: 4.3vw;
    height: 13vw;

  &__localisation {
    margin-right: 7vw;

    &__logo {
      color: lighten($color: black, $amount: 40);
      margin: 0vw 5vw 1vw 0;
    }
  }
}

.banner {
  @include centercolumnbyflex;
  background: darken($color: white, $amount: 5);
  padding: 10vw 0 16vw 0;
  text-align: center;
  font-size: $h1;
  &__title {
    margin: 0;
    width: 67vw;
  }
}
