.img-menu {
  width: 100%;
  @include tablet {
    width: 100vw;
  }
  @include desktop {
    height: 97vw;
    width: 75vw;
    border-radius: 2vw;
    border: 0.1vw solid #3c3737;
  }
}
.menu {
  @include columnbyflex;
  background: darken($color: white, $amount: 5);
  border-radius: 12vw 12vw 0 0;
  margin-top: -13vw;
  width: 100vw;
  position: relative;
  @include tablet {
    align-items: flex-start;
    border-radius: 6vw 6vw 0 0;
    margin-top: -6.5vw;
  }
  @include desktop {
    border-radius: 3vw;
    margin: -90vw auto 7vw auto;
    width: 50vw;
    box-shadow: 0 0.25vw 0.5vw 0.25vw rgb(99 99 99);
  }
  &__title {
    display: flex;
    font-family: "Shrikhand";
    margin-left: 4.5vw;
    padding-top: 8vw;
    width: 95vw;
    font-weight: 500;
    margin-bottom: 5vw;
    @include tablet {
      margin-left: 14vw;
      padding-top: 4vw;
      width: 47.5vw;
      margin-bottom: 2.5vw;
    }
    @include desktop {
      padding-top: 2vw;
      width: 23.75vw;
      margin-bottom: 1.25vw;
      margin-left: 5vw;
    }
  }
  &__bottomgreen {
    width: 12vw;
    border-bottom: 1vw solid $color-tertiary;
    margin-bottom: 3vw;
    @include tablet {
      width: 6vw;
      margin-bottom: 1.5vw;
      border-bottom: 0.5vw solid $color-tertiary;
    }
    @include desktop {
      width: 3vw;
      margin-bottom: 0.75vw;
      border-bottom: 0.25vw solid $color-tertiary;
    }
  }
  &__card {
    width: 95vw;
    @include tablet {
      margin-bottom: 3vw;
      width: 66vw;
      margin-left: auto;
      margin-right: auto;
    }
    @include desktop {
      margin-bottom: 1.5vw;
      width: 37vw;
    }
  }
  &__text {
    margin-left: 3vw;
    @include tablet {
      margin-left: 1.5vw;
    }
    @include desktop {
      margin-left: 0.75vw;
    }
    flex: 1;
    @include ellipsis;
  }
  h4 {
    @include ellipsis;
    font-size: $h5;
    margin: 0;
    @include tablet {
      font-size: $h5-tablet;
    }
    @include desktop {
      font-size: $h5-desktop;
    }
  }
  h5 {
    @include ellipsis;
    margin: 0;
    font-size: $h6;
    font-weight: 300;
    @include tablet {
      font-size: $h6-tablet;
    }
    @include desktop {
      font-size: $h6-desktop;
    }
  }
}
