.restaurant {
  background: darken($color: white, $amount: 5);
  padding: 10vw 5vw 12vw 5vw;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vw 5vw;
  }
  @include desktop {
    padding: 1.5vw 2.5vw;
  }
  &__title {
    margin: 0 38vw 8vw 0;
    @include tablet {
      margin: 3vw;
      width: 100%;
    }
    @include desktop {
      margin: 1.5vw;
    }
  }
  &__card {
    height: 67vw;
    border-radius: 6vw;
    margin-bottom: 6vw;
    background: white;
    box-shadow: 0 0.6vw 5vw 0.2vw #e0dede;
    position: relative;
    @include tablet {
      height: 35.5vw;
      width: 43vw;
      box-shadow: 0 0.3vw 2.5vw 0.1vw #e0dede;
      border-radius: 3vw;
      margin-bottom: 3vw;
    }
    @include desktop {
      height: 17.75vw;
      width: 21.5vw;
      box-shadow: 0 0.15vw 1.25vw 0.05vw #e0dede;
      border-radius: 1.5vw;
      margin-bottom: 1.5vw;
    }
  }
  img {
    width: 100%;
    height: 47vw;
    border-radius: 6vw 6vw 0 0;
    @include tablet {
      height: 23.5vw;
      border-radius: 3vw 3vw 0 0;
    }
    @include desktop {
      height: 11.75vw;
      border-radius: 1.5vw 1.5vw 0 0;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin: 3vw 0 0 3vw;
    @include tablet {
      margin: 1.5vw 0 0 1.5vw;
    }
    @include desktop {
      margin: 0.75vw 0 0 0.75vw;
    }
  }
}