@charset "UTF-8";
@keyframes menu__btn {
  0%, 20% {
    opacity: 0%;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.25);
  }
  50% {
    transform: scaleX(0.5);
  }
  75% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes container {
  0% {
    transform: translateY(-9999px);
  }
  100% {
    transform: translateY(5vw);
  }
}
@keyframes progress {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/*annuler config par défaut*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header a {
  text-decoration: none;
  color: black;
}

main a {
  text-decoration: none;
  color: black;
}

footer a {
  text-decoration: none;
  color: white;
}

a {
  cursor: pointer;
}

/*config de mes titres*/
h1 {
  font-size: 8.5vw;
  margin: 0;
}
@media (min-width: 426px) {
  h1 {
    font-size: 4.25vw;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 2.125vw;
  }
}

h2 {
  font-size: 6.9vw;
  margin: 0;
}
@media (min-width: 426px) {
  h2 {
    font-size: 3.45vw;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 1.725vw;
  }
}

h3 {
  font-size: 4.7vw;
  margin: 0;
  font-weight: 300;
}
@media (min-width: 426px) {
  h3 {
    font-size: 2.35vw;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 1.175vw;
  }
}

h4 {
  font-size: 4.2vw;
  margin: 0;
}
@media (min-width: 426px) {
  h4 {
    font-size: 2.1vw;
  }
}
@media (min-width: 1024px) {
  h4 {
    font-size: 1.05vw;
  }
}

h5 {
  font-size: 5vw;
  margin: 0;
}
@media (min-width: 426px) {
  h5 {
    font-size: 2.5vw;
  }
}
@media (min-width: 1024px) {
  h5 {
    font-size: 1.25vw;
  }
}

h6 {
  margin: 0;
  font-size: 4.4vw;
  font-weight: 300;
}
@media (min-width: 426px) {
  h6 {
    font-size: 2.2vw;
  }
}
@media (min-width: 1024px) {
  h6 {
    font-size: 1.1vw;
  }
}

p {
  font-size: 3.5vw;
  margin: 0;
}
@media (min-width: 426px) {
  p {
    font-size: 1.75vw;
  }
}
@media (min-width: 1024px) {
  p {
    font-size: 0.875vw;
  }
}

.banner__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 58vw;
  height: 14vw;
  margin-top: 7vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 1vw 2vw 1vw #d1d1d1;
  border-radius: 25vw;
  cursor: pointer;
}
.banner__btn:hover {
  background: linear-gradient(357deg, #a16be0, #ff93e1);
}
@media (min-width: 426px) {
  .banner__btn {
    margin-top: 3vw;
    width: 29vw;
    height: 7vw;
    box-shadow: 0vw 0.5vw 1vw 0.5vw #d1d1d1;
    border-radius: 12.5vw;
  }
}
@media (min-width: 1024px) {
  .banner__btn {
    margin-top: 1.5vw;
    width: 14.5vw;
    height: 3.5vw;
    box-shadow: 0vw 0.25vw 0.5vw 0.25vw #d1d1d1;
    border-radius: 6.25vw;
  }
}

.functioning__btn {
  width: 87.5vw;
  height: 20vw;
  margin-bottom: 6vw;
  box-shadow: 0vw 1vw 2vw 1vw #dddcdc;
  border-radius: 5.4vw;
  background: #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 426px) {
  .functioning__btn {
    width: 32vw;
    height: 8vw;
    margin: 2vw;
    text-align: center;
    padding-right: 3vw;
    box-shadow: 0vw 0.5vw 1vw 0.5vw #dddcdc;
    border-radius: 2.7vw;
  }
}
@media (min-width: 1024px) {
  .functioning__btn {
    width: 16vw;
    height: 4vw;
    margin: 1vw;
    padding-right: 1.5vw;
    box-shadow: 0vw 0.25vw 0.5vw 0.25vw #dddcdc;
    border-radius: 1.35vw;
  }
}
.functioning__btn:hover {
  background-color: #f2eafb;
}
.functioning__btn:hover .functioning__logo {
  color: #9356DC;
}
.functioning__btn span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  width: 6.2vw;
  height: 6.2vw;
  border-radius: 100%;
  font-size: 3vw;
  color: white;
  margin-left: -2.5vw;
  margin-right: 5vw;
}
@media (min-width: 426px) {
  .functioning__btn span {
    width: 4vw;
    height: 4vw;
    margin-left: -1.25vw;
    font-size: 1.5vw;
    margin-right: 2.5vw;
  }
}
@media (min-width: 1024px) {
  .functioning__btn span {
    width: 2vw;
    height: 2vw;
    margin-left: -0.625vw;
    font-size: 0.75vw;
    margin-right: 1.25vw;
  }
}

.nouveau {
  width: 21.5vw;
  height: 7.5vw;
  background: #99E2D0;
  border-radius: 0.5vw;
  position: absolute;
  right: 4vw;
  top: 4vw;
  font-weight: 700;
  color: #278870;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 426px) {
  .nouveau {
    width: 10vw;
    height: 3.5vw;
    border-radius: 0.25vw;
    right: 2vw;
    top: 2vw;
  }
}
@media (min-width: 1024px) {
  .nouveau {
    width: 5vw;
    height: 1.75vw;
    border-radius: 0.125vw;
    right: 1vw;
    top: 1vw;
  }
}

.command__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 58vw;
  height: 14vw;
  margin-top: 7vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 1vw 2vw 1vw #d1d1d1;
  border-radius: 25vw;
  cursor: pointer;
  margin-bottom: 20vw;
}
.command__btn:hover {
  background: linear-gradient(357deg, #a16be0, #ff93e1);
}
@media (min-width: 426px) {
  .command__btn {
    margin: 3vw auto 5vw auto;
    width: 29vw;
    height: 7vw;
    margin-bottom: 5vw;
    box-shadow: 0vw 0.5vw 1vw 0.5vw #d1d1d1;
    border-radius: 12.5vw;
  }
}
@media (min-width: 1024px) {
  .command__btn {
    margin-top: 1.5vw;
    width: 14.5vw;
    height: 3.5vw;
    margin-bottom: 2.5vw;
    box-shadow: 0vw 0.25vw 0.5vw 0.25vw #d1d1d1;
    border-radius: 6.25vw;
  }
}

.menu__btn {
  width: 87.5vw;
  height: 20vw;
  margin-bottom: 6vw;
  box-shadow: 0vw 1vw 2vw 1vw #dddcdc;
  border-radius: 5.4vw;
  background: #f2f2f2;
  cursor: pointer;
  box-shadow: 0 1vw 2vw 1vw #e0dede;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
  overflow: hidden;
  transform-origin: top;
  animation: menu__btn 2s;
}
@media (min-width: 426px) {
  .menu__btn {
    height: 8vw;
    margin-bottom: 2vw;
    box-shadow: 0 0.5vw 1vw 0.5vw #e0dede;
    border-radius: 2.7vw;
  }
}
@media (min-width: 1024px) {
  .menu__btn {
    height: 4vw;
    margin-bottom: 1vw;
    box-shadow: 0 0.25vw 0.5vw 0.25vw #e0dede;
    border-radius: 1.35vw;
  }
}
.menu__btn .menu__price {
  margin: 8vw 5vw 0 6vw;
}
@media (min-width: 426px) {
  .menu__btn .menu__price {
    margin: 3.2vw 5.5vw 0 3vw;
  }
}
@media (min-width: 1024px) {
  .menu__btn .menu__price {
    margin: 1.6vw 2.75vw 0 1.5vw;
  }
}
.menu__btn:hover .valid {
  margin: 0;
  transition: 0.5s;
}
.menu__btn:hover .valid__logo {
  transform: rotate(360deg);
  transition: 1s;
}

.valid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  width: 15vw;
  height: 20vw;
  border-radius: 0 5.4vw 5.4vw 0;
  margin-right: -15vw;
}
@media (min-width: 426px) {
  .valid {
    width: 7.5vw;
    height: 10vw;
    margin-right: -11vw;
    border-radius: 0 2.7vw 2.7vw 0;
  }
}
@media (min-width: 1024px) {
  .valid {
    width: 3.75vw;
    height: 5vw;
    margin-right: -5.5vw;
    border-radius: 0 1.35vw 1.35vw 0;
  }
}
.valid__logo {
  padding: 2vw 0.5vw 0vw 1.5vw;
  width: 5vw;
  height: 5vw;
  font-size: 3.5vw;
  color: #99E2D0;
  background: white;
  border-radius: 100%;
}
@media (min-width: 426px) {
  .valid__logo {
    padding: 1vw 0.25vw 0 0.75vw;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.775vw;
  }
}
@media (min-width: 1024px) {
  .valid__logo {
    padding: 0.5vw 0.125vw 0 0.375vw;
    width: 1.25vw;
    height: 1.25vw;
    font-size: 0.8875vw;
  }
}

.menu__btn--1 {
  animation-duration: 0.5s;
}

.menu__btn--2 {
  animation-duration: 1s;
}

.menu__btn--3 {
  animation-duration: 1.5s;
}

.menu__btn--4 {
  animation-duration: 2s;
}

.progress {
  border: 0.5vw solid black;
  padding: 1vw;
  position: fixed;
  top: 50%;
  animation: progress 0.5s forwards;
  animation-delay: 2.5s;
}
@media (min-width: 426px) {
  .progress {
    padding: 0.5vw;
    border: 0.25vw solid black;
  }
}
@media (min-width: 1024px) {
  .progress {
    padding: 0.25vw;
    border: 0.125vw solid black;
  }
}
.progress__bar {
  transform-origin: left;
  transform: scaleX(0.5);
  animation: progress-bar 1000ms 1000ms both;
  background: #99E2D0;
  width: 50vw;
  height: 2vw;
}
@media (min-width: 426px) {
  .progress__bar {
    width: 25vw;
    height: 1vw;
  }
}
@media (min-width: 1024px) {
  .progress__bar {
    width: 12.5vw;
    height: 0.5vw;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  overflow: hidden;
  margin-top: -5vw;
  z-index: 1;
  animation: container 0ms 3000ms both;
  margin-bottom: 5vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vw;
}
@media (min-width: 426px) {
  .header {
    height: 8.5vw;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 4.25vw;
  }
}
.header__title {
  font-family: "Shrikhand";
}
.header__arrow {
  font-size: 4.7vw;
  position: absolute;
  left: 6vw;
  top: 6vw;
  color: #333333;
}
@media (min-width: 426px) {
  .header__arrow {
    font-size: 2.35vw;
    left: 3vw;
    top: 3vw;
  }
}
@media (min-width: 1024px) {
  .header__arrow {
    font-size: 1.175vw;
    left: 1.5vw;
    top: 1.5vw;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  box-shadow: inset 0 3vw 1vw -2vw #d1d1d1;
  height: 13vw;
}
@media (min-width: 426px) {
  .home {
    height: 6.5vw;
    box-shadow: inset 0 1.5vw 0.5vw -1vw #d1d1d1;
  }
}
@media (min-width: 1024px) {
  .home {
    height: 3.25vw;
    box-shadow: inset 0 0.75vw 0.25vw -0.5vw #d1d1d1;
  }
}
.home__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #666666;
  margin-right: 8vw;
}
@media (min-width: 426px) {
  .home__location {
    margin-right: 4vw;
  }
}
@media (min-width: 1024px) {
  .home__location {
    margin-right: 2vw;
  }
}
.home__logo {
  margin: 0 5vw 1vw 0;
  font-size: 4.3vw;
}
@media (min-width: 426px) {
  .home__logo {
    margin: 0 2.5vw 0.5vw 0;
    font-size: 2.15vw;
  }
}
@media (min-width: 1024px) {
  .home__logo {
    margin: 0 1.25vw 0.25vw 0;
    font-size: 1.075vw;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 0 16vw 0;
  text-align: center;
  background: #f2f2f2;
}
@media (min-width: 426px) {
  .banner {
    padding: 3vw 0;
  }
}
@media (min-width: 1024px) {
  .banner {
    padding: 1.5vw 0;
  }
}
.banner__title {
  width: 67vw;
  margin-bottom: 5vw;
}
@media (min-width: 426px) {
  .banner__title {
    margin-bottom: 3vw;
  }
}
@media (min-width: 1024px) {
  .banner__title {
    margin-bottom: 1.5vw;
  }
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding: 10vw 5vw 12vw 5vw;
}
@media (min-width: 426px) {
  .functioning {
    padding: 5vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .functioning {
    padding: 2.5vw;
  }
}
.functioning__title {
  margin: 0 38vw 8vw 0;
}
@media (min-width: 426px) {
  .functioning__title {
    margin: 1vw;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .functioning__title {
    margin: 0.5vw;
  }
}
.functioning__logo {
  color: #666666;
  font-size: 5vw;
  margin: 0 5vw 0 2vw;
}
@media (min-width: 426px) {
  .functioning__logo {
    font-size: 3vw;
    margin: 0 2.5vw 0 1vw;
  }
}
@media (min-width: 1024px) {
  .functioning__logo {
    font-size: 1.5vw;
    margin: 0 1.25vw 0 0.5vw;
  }
}

.restaurant {
  background: #f2f2f2;
  padding: 10vw 5vw 12vw 5vw;
}
@media (min-width: 426px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vw 5vw;
  }
}
@media (min-width: 1024px) {
  .restaurant {
    padding: 1.5vw 2.5vw;
  }
}
.restaurant__title {
  margin: 0 38vw 8vw 0;
}
@media (min-width: 426px) {
  .restaurant__title {
    margin: 3vw;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .restaurant__title {
    margin: 1.5vw;
  }
}
.restaurant__card {
  height: 67vw;
  border-radius: 6vw;
  margin-bottom: 6vw;
  background: white;
  box-shadow: 0 0.6vw 5vw 0.2vw #e0dede;
  position: relative;
}
@media (min-width: 426px) {
  .restaurant__card {
    height: 35.5vw;
    width: 43vw;
    box-shadow: 0 0.3vw 2.5vw 0.1vw #e0dede;
    border-radius: 3vw;
    margin-bottom: 3vw;
  }
}
@media (min-width: 1024px) {
  .restaurant__card {
    height: 17.75vw;
    width: 21.5vw;
    box-shadow: 0 0.15vw 1.25vw 0.05vw #e0dede;
    border-radius: 1.5vw;
    margin-bottom: 1.5vw;
  }
}
.restaurant img {
  width: 100%;
  height: 47vw;
  border-radius: 6vw 6vw 0 0;
}
@media (min-width: 426px) {
  .restaurant img {
    height: 23.5vw;
    border-radius: 3vw 3vw 0 0;
  }
}
@media (min-width: 1024px) {
  .restaurant img {
    height: 11.75vw;
    border-radius: 1.5vw 1.5vw 0 0;
  }
}
.restaurant__text {
  display: flex;
  flex-direction: column;
  margin: 3vw 0 0 3vw;
}
@media (min-width: 426px) {
  .restaurant__text {
    margin: 1.5vw 0 0 1.5vw;
  }
}
@media (min-width: 1024px) {
  .restaurant__text {
    margin: 0.75vw 0 0 0.75vw;
  }
}
.restaurant__heart {
  right: 8vw;
  bottom: 8vw;
  font-size: 7vw;
  position: absolute;
}
@media (min-width: 426px) {
  .restaurant__heart {
    font-size: 3.5vw;
    right: 4vw;
    bottom: 4vw;
  }
}
@media (min-width: 1024px) {
  .restaurant__heart {
    font-size: 1.75vw;
    right: 2vw;
    bottom: 2vw;
  }
}
.restaurant__heart--no {
  z-index: 1;
  transform: scale(1);
}
.restaurant__heart--no:hover {
  opacity: 0;
}
.restaurant__heart--no:hover + .restaurant__heart--yes {
  opacity: 1;
  transform: scale(1.2);
}
.restaurant__heart--yes {
  opacity: 0;
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
}

.img-menu {
  width: 100%;
}
@media (min-width: 426px) {
  .img-menu {
    width: 100vw;
  }
}
@media (min-width: 1024px) {
  .img-menu {
    height: 97vw;
    width: 75vw;
    border-radius: 2vw;
    border: 0.1vw solid #3c3737;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 12vw 12vw 0 0;
  margin-top: -13vw;
  width: 100vw;
  position: relative;
}
@media (min-width: 426px) {
  .menu {
    align-items: flex-start;
    border-radius: 6vw 6vw 0 0;
    margin-top: -6.5vw;
  }
}
@media (min-width: 1024px) {
  .menu {
    border-radius: 3vw;
    margin: -90vw auto 7vw auto;
    width: 50vw;
    box-shadow: 0 0.25vw 0.5vw 0.25vw #636363;
  }
}
.menu__title {
  display: flex;
  font-family: "Shrikhand";
  margin-left: 4.5vw;
  padding-top: 8vw;
  width: 95vw;
  font-weight: 500;
  margin-bottom: 5vw;
}
@media (min-width: 426px) {
  .menu__title {
    margin-left: 5vw;
    padding-top: 4vw;
    width: 47.5vw;
    margin-bottom: 2.5vw;
  }
}
@media (min-width: 1024px) {
  .menu__title {
    padding-top: 2vw;
    width: 23.75vw;
    margin-bottom: 1.25vw;
    margin-left: 5vw;
  }
}
.menu__bottomgreen {
  width: 12vw;
  border-bottom: 1vw solid #99E2D0;
  margin-bottom: 3vw;
}
@media (min-width: 426px) {
  .menu__bottomgreen {
    width: 6vw;
    margin-bottom: 1.5vw;
    border-bottom: 0.5vw solid #99E2D0;
  }
}
@media (min-width: 1024px) {
  .menu__bottomgreen {
    width: 3vw;
    margin-bottom: 0.75vw;
    border-bottom: 0.25vw solid #99E2D0;
  }
}
.menu__card {
  width: 95vw;
}
@media (min-width: 426px) {
  .menu__card {
    margin-bottom: 3vw;
    width: 66vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .menu__card {
    margin-bottom: 1.5vw;
    width: 37vw;
  }
}
.menu__text {
  margin-left: 3vw;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 426px) {
  .menu__text {
    margin-left: 1.5vw;
  }
}
@media (min-width: 1024px) {
  .menu__text {
    margin-left: 0.75vw;
  }
}
.menu h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__heart {
  right: 8vw;
  bottom: 8vw;
  font-size: 7vw;
  position: absolute;
  right: 11vw;
  top: 9vw;
  bottom: 0;
}
@media (min-width: 426px) {
  .menu__heart {
    font-size: 3.5vw;
    top: 4.5vw;
    right: 14vw;
  }
}
@media (min-width: 1024px) {
  .menu__heart {
    font-size: 2.5vw;
    top: 2.25vw;
    right: 5vw;
  }
}
.menu__heart--no {
  z-index: 1;
}
.menu__heart--no:hover {
  opacity: 0;
}
.menu__heart--no:hover + .menu__heart--yes {
  opacity: 1;
}
.menu__heart--yes {
  opacity: 0;
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  color: white;
  background: #333333;
  height: 52vw;
  width: 100%;
}
@media (min-width: 426px) {
  footer {
    height: 32vw;
  }
}
@media (min-width: 1024px) {
  footer {
    height: 16vw;
    align-items: center;
  }
}
footer .nav {
  margin-left: 5vw;
}
@media (min-width: 426px) {
  footer .nav {
    margin-left: 2.5vw;
  }
}
@media (min-width: 1024px) {
  footer .nav {
    margin-left: 1.25vw;
  }
}
footer .nav__logo {
  font-size: 4.3vw;
  margin-right: 2vw;
}
@media (min-width: 426px) {
  footer .nav__logo {
    font-size: 2.15vw;
    margin-right: 1vw;
  }
}
@media (min-width: 1024px) {
  footer .nav__logo {
    font-size: 1.075vw;
    margin-right: 0.5vw;
  }
}
footer .nav__logo--2 {
  font-size: 2.8vw;
}
@media (min-width: 426px) {
  footer .nav__logo--2 {
    font-size: 1.4vw;
  }
}
@media (min-width: 1024px) {
  footer .nav__logo--2 {
    font-size: 0.7vw;
  }
}
footer .title {
  font-family: "Shrikhand";
  margin: 5vw;
}
@media (min-width: 426px) {
  footer .title {
    margin: 2.5vw;
  }
}
@media (min-width: 1024px) {
  footer .title {
    margin: 1.25vw;
  }
}
@media (min-width: 1024px) {
  footer .title h3 {
    font-size: 2vw;
  }
}
footer h4 {
  font-weight: 300;
  margin-bottom: 2vw;
}
@media (min-width: 426px) {
  footer h4 {
    margin-bottom: 1vw;
  }
}
@media (min-width: 1024px) {
  footer h4 {
    margin-bottom: 0.5vw;
  }
}

/*# sourceMappingURL=style.css.map */
