@keyframes menu__btn {
  0%, 20% {
    opacity: 0%;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.25);
  }
  50% {
    transform: scaleX(0.5);
  }
  75% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes container {
  0% {
    transform: translateY(-9999px);
  }
  100% {
    transform: translateY(5vw);
  }
}
@keyframes progress {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header a {
  text-decoration: none;
  color: black;
}

main a {
  text-decoration: none;
  color: black;
}

footer a {
  text-decoration: none;
  color: white;
}

a {
  cursor: pointer;
}

.banner__btn {
  width: 58vw;
  height: 14vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 1vw 2vw 1vw #d1d1d1;
  border-radius: 25vw;
  margin-top: 7vw;
  cursor: pointer;
}
.banner__btn h4 {
  font-weight: 300;
}
.banner__btn:hover {
  background: linear-gradient(357deg, #a16be0, #ff93e1);
}

.fonctionnement__btn {
  width: 87.5vw;
  height: 20vw;
  box-shadow: 0vw 1vw 2vw 1vw #dddcdc;
  margin-bottom: 6vw;
  border-radius: 5.4vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  cursor: pointer;
}
@media (min-width: 426px) {
  .fonctionnement__btn {
    width: 65.625vw;
    height: 15vw;
  }
}
@media (min-width: 1024px) {
  .fonctionnement__btn {
    width: 43.75vw;
    height: 10vw;
  }
}
.fonctionnement__btn h4 {
  margin-left: 10vw;
}
.fonctionnement__btn:hover {
  background-color: #f2eafb;
}
.fonctionnement__btn:hover .fonctionnement__logo {
  color: #9356DC;
}
.fonctionnement__btn span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 6.2vw;
  height: 6.2vw;
  border-radius: 100%;
  font-size: 3vw;
  color: white;
  margin-left: -2.5vw;
  margin-right: 5vw;
}
.fonctionnement__btn p {
  font-size: 4.3vw;
  margin-left: 8vw;
}

.command__btn {
  width: 58vw;
  height: 14vw;
  color: white;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0vw 1vw 2vw 1vw #d1d1d1;
  border-radius: 25vw;
  margin-top: 7vw;
  cursor: pointer;
  margin-bottom: 20vw;
}
.command__btn h4 {
  font-weight: 300;
}
.command__btn:hover {
  background: linear-gradient(357deg, #a16be0, #ff93e1);
}

.menu__btn {
  width: 87.5vw;
  height: 20vw;
  box-shadow: 0vw 1vw 2vw 1vw #dddcdc;
  margin-bottom: 6vw;
  border-radius: 5.4vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  cursor: pointer;
  width: 100%;
  background: white;
  overflow: hidden;
  transform-origin: top;
  animation: menu__btn 2s;
}
@media (min-width: 426px) {
  .menu__btn {
    width: 65.625vw;
    height: 15vw;
  }
}
@media (min-width: 1024px) {
  .menu__btn {
    width: 43.75vw;
    height: 10vw;
  }
}
.menu__btn h4 {
  margin-left: 10vw;
}
.menu__btn .menu__price {
  font-size: 4vw;
  margin-right: 5vw;
  margin-top: 8vw;
  margin-left: 6vw;
}
.menu__btn:hover .valid {
  margin: 0;
  transition: 0.5s;
}
.menu__btn:hover .valid__logo {
  transform: rotate(360deg);
  transition: 1s;
}

.valid {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 20vw;
  border-radius: 0vw 5.4vw 5.4vw 0vw;
  margin-right: -15vw;
}
.valid__logo {
  color: #99E2D0;
  background-color: white;
  padding: 2vw 0.5vw 0vw 1.5vw;
  width: 5vw;
  height: 5vw;
  font-size: 3.5vw;
  border-radius: 20vw;
}

.menu__btn--1 {
  animation-duration: 0.5s;
}

.menu__btn--2 {
  animation-duration: 1s;
}

.menu__btn--3 {
  animation-duration: 1.5s;
}

.menu__btn--4 {
  animation-duration: 2s;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  box-shadow: inset 0vw 3vw 1vw -2vw #d1d1d1;
  height: 13vw;
}
.home__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #666666;
  margin-right: 8vw;
}
.home__logo {
  margin: 0vw 5vw 1vw 0;
  font-size: 4.3vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vw;
}
@media (min-width: 426px) {
  header {
    height: 12.75vw;
  }
}
@media (min-width: 1024px) {
  header {
    height: 8.5vw;
  }
}
header .logo {
  font-family: "Shrikhand";
}
header .arrow__logo {
  font-size: 5vw;
  position: absolute;
  left: 6vw;
  top: 6vw;
  color: #333333;
}
@media (min-width: 426px) {
  header .arrow__logo {
    font-size: 3.75vw;
  }
}
@media (min-width: 1024px) {
  header .arrow__logo {
    font-size: 2.5vw;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 12vw 12vw 0 0;
  margin-top: -13vw;
  position: relative;
}
.menu__container {
  width: 95vw;
}
.menu__title {
  display: flex;
  font-family: "Shrikhand";
  margin-left: 4.5vw;
  padding-top: 8vw;
  font-size: 7.5vw;
  width: 95vw;
  font-weight: 500;
  margin-bottom: 5vw;
}
.menu h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__bottomgreen {
  width: 12vw;
  border-bottom: 1vw solid #99E2D0;
  margin-bottom: 3vw;
}
.menu__text {
  margin-left: 3vw;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__heart {
  position: absolute;
  right: 8vw;
  font-size: 7vw;
  right: 11vw;
  top: 9vw;
}
.menu__heart--no {
  z-index: 1;
}
.menu__heart--no:hover {
  opacity: 0;
}
.menu__heart--no:hover + .menu__heart--yes {
  opacity: 1;
}
.menu__heart--yes {
  opacity: 0;
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  border: 0.5vw solid black;
  padding: 1vw;
  position: fixed;
  top: 50%;
  animation: progress 0.5s forwards;
  animation-delay: 2.5s;
}
.progress__bar {
  transform-origin: left;
  transform: scaleX(0.5);
  animation: progress-bar 1000ms 1000ms both;
  background: #99E2D0;
  width: 50vw;
  height: 2vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: -5vw;
  z-index: 1;
  animation: container 0ms 3000ms both;
  margin-bottom: 5vw;
}

img {
  width: 100%;
}

h1 {
  font-size: 8.5vw;
  margin: 0;
}

h2 {
  font-size: 6.9vw;
  margin: 0;
}

h3 {
  font-size: 4.7vw;
  margin: 0;
}

h4 {
  font-size: 4.2vw;
  margin: 0;
}

h5 {
  font-size: 5vw;
  margin: 0;
}

h6 {
  margin: 0;
  font-size: 4.4vw;
  font-weight: 300;
}

p {
  font-size: 3.5vw;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding: 10vw 5vw 12vw 5vw;
}
.fonctionnement__title {
  margin: 0 38vw 8vw 0;
}
.fonctionnement__logo {
  color: #666666;
  font-size: 5vw;
  margin-left: 2vw;
}

.restaurant {
  background: #f2f2f2;
  padding: 10vw 5vw 12vw 5vw;
}
.restaurant__card {
  height: 67vw;
  border-radius: 6vw;
  margin-bottom: 6vw;
  background-color: white;
  box-shadow: 0vw 0.6vw 5vw 0.2vw #e0dede;
  position: relative;
}
.restaurant__title {
  margin: 0 38vw 8vw 0;
}
.restaurant .nouveau {
  background-color: #99E2D0;
  width: 21.5vw;
  height: 7.5vw;
  display: flex;
  border-radius: 0.5vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4vw;
  top: 4vw;
  font-size: 3.5vw;
  font-weight: 700;
  color: #278870;
}
.restaurant img {
  width: 100%;
  height: 47vw;
  border-radius: 6vw 6vw 0 0;
}
.restaurant__text {
  display: flex;
  flex-direction: column;
  margin: 3vw 0 0 3vw;
}
.restaurant__text h6 {
  font-weight: 300;
}
.restaurant__heart {
  position: absolute;
  right: 8vw;
  font-size: 7vw;
  bottom: 8vw;
}
.restaurant__heart--no {
  z-index: 1;
  transform: scale(1);
}
.restaurant__heart--no:hover {
  opacity: 0;
}
.restaurant__heart--no:hover + .restaurant__heart--yes {
  opacity: 1;
  transform: scale(1.2);
}
.restaurant__heart--yes {
  opacity: 0;
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
}

footer {
  color: white;
  background: #333333;
  height: 52vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .logo {
  font-family: "Shrikhand";
  margin: 5vw;
}
footer h3 {
  font-weight: 300;
}
footer h4 {
  font-weight: 300;
  margin-bottom: 2vw;
}
footer .nav {
  margin-left: 5vw;
}
footer .nav__logo {
  font-size: 3.5vw;
  margin-right: 2vw;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 0 16vw 0;
  text-align: center;
  background: #f2f2f2;
}
.banner__title {
  width: 67vw;
  margin-bottom: 5vw;
}
.banner h3 {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
