.banner__btn {
  @include btn;
}

.fonctionnement__btn {
  @include btnfonctionnement;
  &:hover {
    background-color: lighten($color: $color-primary, $amount: 35);
    .fonctionnement__logo {
      color: $color-primary;
    }
  }
  span {
    @include centercolumnbyflex;
    background-color: $color-primary;
    width: 6.2vw;
    height: 6.2vw;
    border-radius: 100%;
    font-size: 3vw;
    color: white;
    margin-left: -2.5vw;
    margin-right: 5vw;
  }
  p {
    font-size: 4.3vw;
    margin-left: 8vw;
  }
}
.command__btn {
  @include btn;
}
.entrance__btn {
  @include btnfonctionnement;
}
.dish__btn {
  @include btnfonctionnement;
}
.dessert__btn {
  @include btnfonctionnement; 
}