.banner__btn {
  @include btn;
  @include tablet {
    margin-top: 3vw;
    width: 29vw;
    height: 7vw;
  }
}

.fonctionnement__btn {
  @include btnfonctionnement;
  @include tablet {
    width: $width-btn-tablet;
    height: $height-btn-tablet;
    margin: 2vw;
    text-align: center;
    padding-right: 3vw;
  }
  @include rowbyflex;
  justify-content: flex-start;
  &:hover {
    background-color: lighten($color: $color-primary, $amount: 35);
    .fonctionnement__logo {
      color: $color-primary;
    }
  }
  span {
    @include columnbyflex;
    background: $color-primary;
    width: 6.2vw;
    height: 6.2vw;
    border-radius: 100%;
    font-size: 3vw;
    color: white;
    margin-left: -2.5vw;
    margin-right: 5vw;
    @include tablet {
      width: 4vw;
      height: 4vw;
      margin-left: -1vw;
      font-size: 1.5vw;
      margin-right: 2vw;
    }
  }
}

.nouveau {
  @include btnnouveau;
  @include tablet {
    width: 10vw;
    height: 3.5vw;
  }
  @include columnbyflex;
}

.command__btn {
  @include btn;
  margin-bottom: 20vw;
  @include tablet {
    margin-top: 3vw;
    width: 29vw;
    height: 7vw;
    margin-bottom: 5vw;
  }
}

.menu__btn {
  @include btnfonctionnement;
  @include tablet {
    height: $height-btn-tablet;
    margin: 2vw;
  }
  @include rowbyflex;
  width: 100%;
  background: white;
  overflow: hidden;
  transform-origin: top;
  animation: menu__btn 2s;
  .menu__price {
    margin: 8vw 5vw 0 6vw;
    @include tablet {
      margin: 3.2vw 5.5vw 0 3vw;
    }
  }
  &:hover {
    .valid {
      margin: 0;
      transition: 0.5s;
    }
    .valid__logo {
      transform: rotate(360deg);
      transition: 1s;
    }
  }
}

.valid {
  @include columnbyflex;
  background: #99e2d0;
  width: 15vw;
  height: 20vw;
  border-radius: 0vw 5.4vw 5.4vw 0vw;
  margin-right: -15vw;
  @include tablet {
    width: 7.5vw;
    height: 10vw;
    margin-right: -11vw;
  }
  &__logo {
    padding: 2vw 0.5vw 0vw 1.5vw;
    width: 5vw;
    height: 5vw;
    font-size: 3.5vw;
    @include tablet {
      padding: 1vw 0.25vw 0 0.75vw;
      width: 2.5vw;
      height: 2.5vw;
      font-size: 1.775vw;
    }
    color: $color-tertiary;
    background-color: white;
    border-radius: 20vw;
  }
}

.menu__btn--1 {
  animation-duration: 0.5s;
}
.menu__btn--2 {
  animation-duration: 1s;
}
.menu__btn--3 {
  animation-duration: 1.5s;
}
.menu__btn--4 {
  animation-duration: 2s;
}
