body {
    margin: 0;
    font-family: "Roboto";
  }
header a {
    text-decoration: none;
    color: black;
  }
  main a {
    text-decoration: none;
    color: black;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  a {
    cursor: pointer;
  }