@keyframes menu__btn {
  0%,
  20% {
    opacity: 0%;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.25);
  }
  50% {
    transform: scaleX(0.5);
  }
  75% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes container {
  0% {
    transform: translateY(-9999px);
  }
  100% {
    transform: translateY(5vw);
  }
}
@keyframes progress {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
