@mixin columnbyflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin rowbyflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  @include columnbyflex;
  width: 58vw;
  height: 14vw;
  margin-top: 7vw;
  color: white;
  background: linear-gradient(357deg, $color-primary, $color-secondary);
  border: none;
  box-shadow: 0vw 1vw 2vw 1vw rgb(209, 209, 209);
  border-radius: 25vw;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      357deg,
      $color-primary-banner,
      $color-secondary-banner
    );
  }
}

@mixin btnfunctioning {
  width: $width-btn;
  height: $height-btn;
  margin-bottom: 6vw;
  box-shadow: 0vw 1vw 2vw 1vw #dddcdc;
  border-radius: 5.4vw;
  background: darken($color: white, $amount: 5);
  cursor: pointer;
}

@mixin btnnouveau {
  width: 21.5vw;
  height: 7.5vw;
  background: $color-tertiary;
  border-radius: 0.5vw;
  position: absolute;
  right: 4vw;
  top: 4vw;
  font-weight: 700;
  color: darken($color: $color-tertiary, $amount: 40);
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin tablet {
  @media (min-width: #{$screen-tablet-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-desktop-min}) {
    @content;
  }
}
