@mixin centercolumnbyflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin btnfonctionnement {
  width: $width-btn;
  height: $height-btn;
  @include tablet {
    width: $width-btn-tablet;
    height: $height-btn-tablet;
  }
  @include desktop {
    width: $width-btn-desktop;
    height: $height-btn-desktop;
  }
  box-shadow: 0vw 1vw 2vw 1vw #dddcdc;
  margin-bottom: 6vw;
  border-radius: 5.4vw;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: darken($color: white, $amount: 5);
  cursor: pointer;
}
@mixin btnnouveau {
  background-color: $color-tertiary;
  width: 21.5vw;
  height: 7.5vw;
  display: flex;
  border-radius: 0.5vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4vw;
  top: 4vw;
  font-size: 3.5vw;
  font-weight: 700;
  color: darken($color: $color-tertiary, $amount: 40);
}
@mixin btn {
  width: 56vw;
  height: 13vw;
  font-size: 4vw;
  color: white;
  background: linear-gradient(357deg, $color-primary, $color-secondary);
  border: none;
  box-shadow: 0vw 1vw 2vw 1vw rgb(209, 209, 209);
  border-radius: 25vw;
  margin-top: 5vw;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      357deg,
      $color-primary-banner,
      $color-secondary-banner
    );
  }
}
@mixin tablet {
  @media (min-width: #{$screen-tablet-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-desktop-min}) {
    @content;
  }
}
@mixin heart {
  position: absolute;
  right: 8vw;
  font-size: 7vw;
}
@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
