$h1: 8.5vw;
$h1-tablet: 4.25vw;
$h1-desktop: 4.25vw;
$h2: 6.9vw;
$h2-tablet: 3.45vw;
$h2-desktop: 3.45vw;
$h3: 4.7vw;
$h3-tablet: 2.35vw;
$h3-desktop: 2.35vw;
$h4: 4.2vw;
$h4-tablet: 2.1vw;
$h4-desktop: 2.1vw;
$h5: 5vw;
$h5-tablet: 2.5vw;
$h5-desktop: 2.5vw;
$h6: 4.4vw;
$h6-tablet: 2.2vw;
$h6-desktop: 2.2vw;
$p: 3.5vw;
$p-tablet: 1.75vw;
$p-desktop: 1.75vw;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primary-banner: lighten($color: #9356dc, $amount: 5);
$color-secondary-banner: lighten($color: #FF79DA, $amount: 5);
$prog-bar-dur: 1000ms;
$prog-bar-delay: 1000ms;
$container-delay: $prog-bar-dur + $prog-bar-delay * 2;
$screen-tablet-min: 426px;
$screen-desktop-min: 1024px;
$width-btn: 87.5vw;
$width-btn-tablet: 32vw;
$width-btn-desktop: 32vw;
$height-btn: 20vw;
$height-btn-tablet: 8vw;
$height-btn-desktop: 8vw;