$h2: 6vw;
$h3: 5vw;
$h1: 4.6vw;
$p: 4.5vw;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primary-banner: lighten($color: #9356dc, $amount: 5);
$color-secondary-banner: lighten($color: #FF79DA, $amount: 5);