$header-logo: 8vw;
$header-logo-tablet: 6vw;
$header-logo-desktop: 4vw;
$h1: 4.6vw;
$h1-tablet: 3.45vw;
$h1-desktop: 2.3vw;
$h2: 6vw;
$h2-tablet: 4.5vw;
$h2-logo-desktop: 3vw;
$h3: 5vw;
$h3-tablet: 3.75vw;
$h3-desktop: 2.5vw;
$p: 4vw;
$p-tablet: 3vw;
$p-desktop: 2vw;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primary-banner: lighten($color: #9356dc, $amount: 5);
$color-secondary-banner: lighten($color: #FF79DA, $amount: 5);
$prog-bar-dur: 1000ms;
$prog-bar-delay: 1000ms;
$container-delay: $prog-bar-dur + $prog-bar-delay * 2;
$screen-tablet-min: 426px;
$screen-desktop-min: 1024px;
$width-btn: 86vw;
$width-btn-tablet: 68.8vw;
$width-btn-desktop: 43vw;
$height-btn: 20vw;
$height-btn-tablet: 15vw;
$height-btn-desktop: 10vw;